@model CinemaWebApplication.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Білет</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieShow.DateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat.RowNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-action="Index">Back to List</a>
</div>
